<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408888696472-dnk5ecvg2n9qk4b6qaidjhss7jti4lh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408888696472-dnk5ecvg2n9qk4b6qaidjhss7jti4lh0</string>
	<key>API_KEY</key>
	<string>AIzaSyBC5kI9sSUgsmy6at4-_EJmODT_kLs63SE</string>
	<key>GCM_SENDER_ID</key>
	<string>408888696472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.greenlock.greeny</string>
	<key>PROJECT_ID</key>
	<string>greenify-f07ad</string>
	<key>STORAGE_BUCKET</key>
	<string>greenify-f07ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408888696472:ios:37b226c6d2a3ea86707aed</string>
</dict>
</plist>