<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408888696472-rc1htn19g11pobcb2dbhorqqurer3iu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408888696472-rc1htn19g11pobcb2dbhorqqurer3iu3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>408888696472-3f8grjbrjn2jv4404pe1u7k40hftf8s1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBC5kI9sSUgsmy6at4-_EJmODT_kLs63SE</string>
	<key>GCM_SENDER_ID</key>
	<string>408888696472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.greenlock.greenify</string>
	<key>PROJECT_ID</key>
	<string>greenify-f07ad</string>
	<key>STORAGE_BUCKET</key>
	<string>greenify-f07ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408888696472:ios:b3245c4cbf9c2c5c707aed</string>
</dict>
</plist>